<?xml version="1.0"?>
<robot name="cybergear" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:include filename="$(find cybergear_description)/urdf/cybergear.urdf.xacro"/>
  <xacro:cybergear prefix="motor1_"/>
  <xacro:cybergear prefix="motor2_"/>

  <link name="origin"/>
  <joint name="origin_to_motor1" type="fixed">
    <origin xyz="0.1 0 0" rpy="${pi} 0 ${-pi/2}"/>
    <parent link="origin"/>
    <child link="motor1_outer_body"/>
  </joint>
  <joint name="origin_to_motor2" type="fixed">
    <origin xyz="-0.1 0 0" rpy="${pi} 0 ${-pi/2}"/>
    <parent link="origin"/>
    <child link="motor2_outer_body"/>
  </joint>
</robot>
