<?xml version="1.0"?>
<robot name="cybergear" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:include filename="$(find cybergear_description)/urdf/cybergear.urdf.xacro"/>
  <xacro:cybergear prefix="motor1_"/>

  <link name="origin"/>
  <joint name="origin_to_cybergear" type="fixed">
    <parent link="origin"/>
    <child link="motor1_outer_body"/>
  </joint>
</robot>
